body{
    background-color: #7F6690;
    color: white;
    margin: 0 !important;
}

#container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background: #00467F;
    background: -webkit-linear-gradient(to right, #7F6690, #00467F);  
    background: linear-gradient(to right, #7F6690, #00467F);
}
#topbar{
    background: #00467F;
    background: -webkit-linear-gradient(to right, #7F6690, #00467F);  
    background: linear-gradient(to right, #7F6690, #00467F); 
}

.logo{
    float: left;
    font-size: 75px;
    margin-right: 10px;
    margin-left: 100px;
    width: 380px;
    padding: 50px;
}
.logounderline{
    text-decoration: none;
}
#second{
    color: #DBBA8E;
    
}
#find{
    color: #DBA079;
    
}

.logowanie{
    float: left;

}
.lista1{
    list-style-type:none;
    padding: 0px;
    margin-left: 300px;
    border: #DBA079 5px solid;
    margin-top: 55px;
    
}
ol{
    background-color: #DBBA8E;

}

ol > li{
    float: left;
    padding:25px; 
    border-right: 1px solid  #7F6690;
    border-left: 1px solid #7F6690;
    border: 1px solid #7F6690;
}
ol > li:hover{
    background: #00467F;
    background: -webkit-linear-gradient(to right, #7F6690, #00467F);  
    background: linear-gradient(to right, #7F6690, #00467F);
}

ol a {
    color: black;
    text-decoration:none; 
    font-size: 20px;
    display: block;                 /* nie chce sie zrobic caly panel zaloguj i rejestracja jako odnosnik mimo display:block*/
} 

ol a:hover{
    color: #DBBA8E;
}

.clearboth{
    clear: both;
}

.menu{
    background-color: #DBBA8E;
}
.menulista li{
    text-decoration: none;
    float: left;
    width: 100%;
    text-align: center;
    list-style-type:none;
}
.menulista 

.aboutus{

}

#lowbar{
    

}
footer{
    background: #00467F;
    background: -webkit-linear-gradient(to right, #7F6690, #00467F);  
    background: linear-gradient(to right, #7F6690, #00467F); 
    margin:0px;
    text-align: center; 
}

 
 
     
 /*div.glass-bg-color::before {
     z-index: -1;
     content: ' ';
     width: 100%;
     height: 100%;
     position: absolute;
     //    filter: blur(4px);
     //    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
     opacity: 0.3;
     background-color: rgba(255,255,255, 1);
 }
     
 .glass-bg-color {
     color: white;
     position: relative;
 } */
 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  }