body{
    background-color: #7F6690;
    color: white;
    margin: 0 !important;
}

#container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}
#topbar{

}

.logo{
    float: left;
    font-size: 75px;
    margin-right: 10px;
    margin-left: 100px;
    width: 380px;
    padding: 50px;
}
.logounderline{
    text-decoration: none;
}
#second{
    color: #DBBA8E;
    
}
#find{
    color: #DBA079;
    
}

.logowanie{
    float: left;

}
.lista1{
    list-style-type:none;
    padding: 0px;
    margin-left: 300px;
    border: #DBA079 5px solid;
    margin-top: 55px;
}
ol{
    background-color: #DBBA8E;
}

ol > li{
    float: left;
    padding:25px; 
    border-right: 1px solid  #7F6690;
    border-left: 1px solid #7F6690;
    border: 1px solid #7F6690;
}
ol > li:hover{
    background-color:  #7F6690;
}

ol a {
    color: black;
    text-decoration:none; 
    font-size: 20px;
    display: block;                 /* nie chce sie zrobic caly panel zaloguj i rejestracja jako odnosnik mimo display:block*/
} 

ol a:hover{
    color: #DBBA8E;
}

.clearboth{
    clear: both;
}

.menu{
    background-color: #DBBA8E;
}
.menulista {
    text-decoration: none;
    
    width: 100%;
    text-align: center;
}
.menulista 

.aboutus{

}

#lowbar{
    

}
footer{
    
    margin: 20px;
    text-align: center; 
}


