html, body{
    overflow-x: hidden;
}


body{
    background: #00467F;
    background: -webkit-linear-gradient(to right, #7F6690, #00467F);  
    background: linear-gradient(to right, #7F6690, #00467F);
    color: #ffffff; 
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;
    
}

.wrapper{
    width: 100%;
}

.header{
    width: 100%;
    padding: 40px 0;
}

.logo{
    width: 450px;
    font-size: 90px;
    margin-left: 600px;
    margin-right: ;
    float: left;

}
#rejestracja{
    display: inline-block;

}
#rejestracja1{
    float: left;
    /*background-color: #DBBA8D;*/
    color: white;
    /*border: 5px solid #DBA079;*/
    margin-left: 150px;
    width: 50pxpx;
    padding: 4px;
    
}
#rejestracja1 a{
    text-decoration: none;
    color: white;
}
#rejestracja1 a:hover{
    
    color: #7F6690;
}
#rejestracja2{
    float: left;
    background-color: #DBBA8D;
    color: white;
    border: 5px solid #DBA079;
    margin-left: 10px;
    width: 100px;
    padding: 4px;
}
#rejestracja a{
    text-decoration: none;
    color: white;
}
#rejestracja2 a:hover{
    
    color: #7F6690;
}


.nav{
    width: 100%;
    padding: 0px 0;
    background-color: #DBBA8D;
    text-align: center;
    margin:0 auto;
    margin-bottom: 40px;
}

.content{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
}



.footer{
    text-align: center;
    background-color: #DBBA8D;
    padding: 30px;
    float: left;
    width: 100%;
}

.sticky{
    width: 100%;  /* 100% */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    margin-left:0px;
}

.paragraf1{
    width: 1000px;
}
.paragraf1 p{
    width: 400px;
    float: left;
    text-align: center;

}
.paragraf1 img{
    width: 560px;
    float: left;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}

.paragraf2{
  width: 1000px;
}
.paragraf2 p {
    width: 400px;
    float: left;
}
.paragraf2 img{
    width: 560px;
    float: left;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}

.paragraf3{
    width: 1000px;
}
.paragraf3 p{
    width: 400px;
    float: left;
}
.paragraf3 img{
    width:560px;
    float: left;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


ol{
    padding: 5px;
    margin: 3px;
    list-style-type:none;
    font-size: 20px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
   
}

ol a{
    color: white;
    text-decoration: none;
    display: block;

}

ol > li{
    float: left;
    width: 150px;
    height: 40px;
   /* border-right: 1px solid #7F6690;
    */

}

ol > li:first-child{
   /* border-left: 1px solid #7F6690; */
}

ol > li:hover{
    background-color: #EBC796;

}

ol > li:hover> a{
    color: #7F6690;
}

ol > li > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;


}

ol > li:hover > ul{
     display: block;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #7F6690;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  
  /* The Modal (background) */
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #aa8ac2;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: grey;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }