html, body{
    overflow-x: hidden;
}

body{
    background: #00467F;
    background: -webkit-linear-gradient(to right, #7F6690, #00467F);  
    background: linear-gradient(to right, #7F6690, #00467F);
    color: #ffffff; 
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;
}

.wrapper{
    width: 100%;
}

.header{
    width: 100%;
    padding: 40px 0;
}

.logo{
    width: 60%;
    font-size: 90px;
    text-align: center;
    float: left;
    border:0px solid #DBBA8D ;
}
#rejestracja{
    display: inline-block;
    width: 40%;
}
#rejestracja1{
    float: left;
    /*background-color: #DBBA8D;*/
    /*border: 5px solid #DBA079;*/
    text-align: center;
    padding: 0px;
    width: 20%;
    border: 0px solid white;
}
#rejestracja1 a{
    text-decoration: none;
    color: #DBBA8D;
}
#rejestracja1 a:hover{ 
    color: #7F6690;
}
#rejestracja2{
    float: left;
   /* background-color: #DBBA8D; */
    /* border: 5px solid #DBA079; */
    width: 20%;
    border: 0px solid white;
    text-align: center;
    padding: 0px;
}
#rejestracja2 a{
    text-decoration: none;
    color:#DBBA8D;
}
#rejestracja2 a:hover{
    color: #7F6690;
}


.nav{
    width: 100%;
    padding: 0px 0;
    background-color: #DBBA8D;
    text-align: center;
    margin-bottom: 40px;
}

.content{
    width: 1920px;
    padding-top: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.footer{
    text-align: center;
    background-color: #DBBA8D;
    padding: 30px;
    float: left;
    width: 100%;
    margin-top: 80px;
}

.sticky{
    width: 100%;  
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    margin-left:0px;
}

.paragraf1{
    width: 1920px;
    height: 400px;
}
.paragraf1 p{
    width: 638px;
    float: left;
    text-align: center;
    vertical-align:middle;
    font-size: 30px;
    height: 228px;
    border: 0px solid white;
    padding: 30px;
    margin-left: 150px;
    margin-right: 0px;
    margin-top: 40px;
}
.paragraf1 img{
    float: left;
    padding: 0px;
    display: block;
    height: 398px;
    border: 0px solid white;
    width: 768px;
    margin-left: 100px;
    margin-right: 200px;
}


.paragraf2{
  width: 1920px;
  height: 400px;
}
.paragraf2 p {
    width: 638px;
    float: left;
    text-align: center;
    vertical-align:middle;
    font-size: 30px;
    height: 398px;
    border: 0px solid white;
    margin-left: 30px;
    margin-right: 220px;
    margin-top: 80px;
}
.paragraf2 img{
    width: 768px; 
    float: left;
    padding: 0px;
    display: block;
    height: 398px;
    border: 0px solid white;
    margin-right:105px ;
    margin-left: 155px;
    margin-top: 30px;
}

.paragraf3{
    width: 1920px;
    height: 400px;
}
.paragraf3 p{
  width: 638px;
  float: left;
  text-align: center;
  vertical-align:middle;
  font-size: 30px;
  height: 298px;
  border: 0px solid white;
  padding: 30px;
  margin-left: 150px;
  margin-right: 0px;
  margin-top: 60px;
}
.paragraf3 img{
  float: left;
  padding: 0px;
  display: block;
  height: 398px;
  border: 0px solid white;
  width: 768px;
  margin-left: 100px;
  margin-right: 200px;
  margin-top: 30px;
}


ol{
    padding: 5px;
    margin: 3px;
    list-style-type:none;
    font-size: 20px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ol a{
    color: white;
    text-decoration: none;
    display: block;
}

ol > li{
    float: left;
    width: 150px;
    height: 40px;
   /* border-right: 1px solid #7F6690;*/
}

ol > li:first-child {
   /* border-left: 1px solid #7F6690; */
}

ol > li:hover{
    background-color: #EBC796;

}

ol > li:hover> a{
    color: #7F6690;
}

ol > li > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}

ol > li:hover > ul{
     display: block;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #7F6690;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  
  /* The Modal (background) */
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #aa8ac2;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: grey;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }